<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Hex-Games 享受棋之乐</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/images/core-img/hex.png">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>



<div style="margin-top: 20%;text-align: center;">
	<p style="font-size: xx-large;">为了为您提供更好的使用体验，请使用Chrome浏览器访问哦~ヾ(≧▽≦*)o</p>
  	<a style="color: deepskyblue;font-size: xx-large;" href="https://www.google.com/intl/zh-CN/chrome/">点击前往下载安装Chrome浏览器</a>
</div>

    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>
    <!-- LogOut js -->
    <script src="../static/js/logOut.js"></script>
</body>

</html>