<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Hex-Games 享受棋之乐</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/images/core-img/hex.png">
    
 	<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../static/js/link.js"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="500ms">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index"><img src="../static/images/core-img/hex.png" style="width:4%"></a>
                            <a href="index"><img src="../static/images/core-img/hex_text.png" style="width:22%"></a>
                            <a href="index"><img src="../static/images/core-img/hex_joy1.png" style="width:15%;margin-left:1.8%"></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                            <!-- Top Search Area -->
                            <!-- <div class="top-search-area"> -->
                                <!-- <form action="#" method="post"> -->
                                    <!-- <input type="search" name="top-search" id="topSearch" placeholder="Search"> -->
                                    <!-- <button type="submit" class="btn"><i class="fa fa-search"></i></button> -->
                                <!-- </form> -->
                            <!-- </div> -->
                            <!-- Login Area -->
                            <!-- <div class="login-area"> -->
                                <!-- <a href="#"><span>Login / Register</span> <i class="fa fa-lock" aria-hidden="true"></i></a> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">
                                <ul>
                                    <li><a href="index">游戏简介</a></li>
                                    <li><a href="teach">视频教学</a></li>
                                    <li><a href="#">在线游戏 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="font-size:xx-small"></span></a>
                                        <ul class="dropdown">
                                            <li><a href="hex">人机对战</a></li>
                                            <li><a href="hex_p2p">好友对战</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="chat">交流论坛</a> </li>
                                    <li><a href="GameRecord">个人战绩</a></li>
                                    <li><a href="About">关于我们</a></li>
                                </ul>
                            </div>
                        </div>
						<div class="login-area">
                             <a class="lr_button" href="login_register"><span>登录 / 注册</span></a>
                        </div>
                        <div class="user1">                               
							<div class="user">	
								<!-- <img src="../static/images/core-img/user.png" style="width:7%"> -->
								<a href="userData" style="vertical-align:middle;font-family:cursive;font-size:18px;font-weight: bolder;display: inline;margin-right: 4%;color: rgb(255, 124, 7);">
									<img src="../static/images/core-img/user.png" style="width:7%">
									<span id="user_name"></span>
								</a>
								<a onclick="log_out()" href="#" style="vertical-align: inherit;font-family: 'Open Sans';font-weight: 600;font-size: 16px;padding: 0 10px;color: #545454;">
									<span>退出登录</span>
								</a>
							</div>
                        </div>
                        
                        
                        <script type="text/javascript"> 
	                        var user = $.cookie("accountnum");//[[${username}]];
	     					if(user==null)
	     						$('.user1').css("display","none");
	     					else{
	     						$('.login-area').css("display","none");
	                        	var name = $.cookie("name");
	                        	$('#user_name').text(name);
	     					}
	     					
						</script>
					
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="hero-area">
        <!-- Hero Post Slides -->
        <div class="hero-post-slides owl-carousel">

            <!-- game hostory -->
            <!-- <div class="single-slide bg-img bg-overlay" style="background-image: url(../static/images/bg-img/bck1.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                                
                            </div>
                    </div>
                </div>
            </div> -->
            
            <div class="single-slide bg-img bg-overlay" style="background-image: url(../static/images/bg-img/bck1.png);">
            	<video width="100%" height="100%" src="../static/images/core-img/1.mp4" controls="controls" controlslist="nodownload"  poster="../static/img/teach.png">
        		<!-- <video width="100%" height="100%" src="../static/video/1.mp4" controls="controls" controlslist="nodownload"  poster="../static/img/ww.jpg"> -->
            </div>

        </div>
    </div>


    <!-- ##### Monthly Picks Area Start ##### -->
    <section class="monthly-picks-area section-padding-100 bg-pattern" style="padding-top: 1%;padding-bottom: 0%;">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-12">
                    <!-- <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms" style="font-family:cursive;margin-bottom: 1%;color:aquamarine;">Hex新手教程</h2> -->
                </div>
            </div>
        <!-- </div> -->
    </section>
	
    <!-- ##### Monthly Picks Area End ##### -->

    <!-- ##### Video Area Start ##### -->
<!--     <div class="egames-video-area section-padding-100 bg-pattern2">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="egames-nav-btn">
                        <div class="nav flex-column" id="video-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="video1" data-toggle="pill" href="#video-1" role="tab" aria-controls="video-1" aria-selected="true">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="100ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/video1.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Hex行棋规则教学</p>
                                        <span>更新于2019.10.22<br>                                                                     播放量:532次</span>
                                    </div>
                                    <div class="video-rating" style="margin-left:5%;">Hot!</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video2" data-toggle="pill" href="#video-2" role="tab" aria-controls="video-2" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="200ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/video1.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Hex初级教程（上）</p>
                                        <span>更新于2019.11.2<br>                                                                      播放量:302次</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video3" data-toggle="pill" href="#video-3" role="tab" aria-controls="video-3" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="300ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/video1.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Hex初级教程（下）</p>
                                        <span>更新于2019.11.3<br>                                                                      播放量:263次</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video4" data-toggle="pill" href="#video-4" role="tab" aria-controls="video-4" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="400ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/video1.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Hex精彩集锦系列（一）</p>
                                        <span>更新于2019.11.12<br>                                                                     播放量:466次</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video5" data-toggle="pill" href="#video-5" role="tab" aria-controls="video-5" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="500ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/video1.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Hex精彩集锦系列（二）</p>
                                        <span>更新于2019.11.21<br>                                                                      播放量:397次</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video6" data-toggle="pill" href="#video-6" role="tab" aria-controls="video-6" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="600ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/14.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Game reviews: the best of 2018</p>
                                        <span>Nintendo Wii, PS4, XBox 360</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video7" data-toggle="pill" href="#video-7" role="tab" aria-controls="video-7" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="700ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/15.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Tips to improve your game</p>
                                        <span>Nintendo Wii, PS4, XBox 360</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>

                            <a class="nav-link" id="video8" data-toggle="pill" href="#video-8" role="tab" aria-controls="video-8" aria-selected="false">
                                Single Video Widget
                                <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="800ms">
                                    <div class="video-thumbnail">
                                        <img src="../static/images/bg-img/16.jpg" alt="">
                                    </div>
                                    <div class="video-text">
                                        <p class="video-title mb-0">Game reviews: the best of 2018</p>
                                        <span>Nintendo Wii, PS4, XBox 360</span>
                                    </div>
                                    <div class="video-rating">8.3/10</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-8">
                    <div class="tab-content" id="video-tabContent">
                        <div class="tab-pane fade show active" id="video-1" role="tabpanel" aria-labelledby="video1">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/40.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-2" role="tabpanel" aria-labelledby="video2">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/41.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-3" role="tabpanel" aria-labelledby="video3">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/42.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-4" role="tabpanel" aria-labelledby="video4">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/43.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-5" role="tabpanel" aria-labelledby="video5">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/44.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-6" role="tabpanel" aria-labelledby="video6">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/45.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-7" role="tabpanel" aria-labelledby="video7">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/46.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video-8" role="tabpanel" aria-labelledby="video8">
                            <div class="video-playground bg-img" style="background-image: url(../static/images/bg-img/47.jpg);">
                                Play Button
                                <div class="play-btn">
                                    <a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-button"><img src="../static/images/core-img/play.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ##### Video Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0" style="padding-top: 2%;">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3" style="margin: 0 auto;">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="100ms">
                            <div class="widget-title">
                                <a href="index"><img src="../static/images/core-img/hex.ico" style="width:20%"></a>
								<a href="index"><img src="../static/images/core-img/hex_text.png" style="width:58%"></a>
								<a href="index"><img src="../static/images/core-img/hex_joy1.png" style="width:45%;margin-left:22.8%"></a>
							</div>
                            <!-- <div class="widget-content"> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam ut interdum ultricies.</p> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-sm-5" style="margin-left:33%;">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved   
							<a href="https://beian.miit.gov.cn/" target="_blank">京ICP备19057144号-1</a>
						</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>
    <!-- LogOut js -->
    <script src="../static/js/logOut.js"></script>
</body>

</html>