<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Hex-Games 个人信息</title>

    <!-- Favicon -->
     <link rel="shortcut icon" href="../static/images/core-img/hex.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<!-- <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script> -->
	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="../static/js/link.js"></script>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index"><img src="../static/images/core-img/hex.png" style="width:4%"></a>
                            <a href="index"><img src="../static/images/core-img/hex_text.png" style="width:22%"></a>
                            <a href="index"><img src="../static/images/core-img/hex_joy1.png" style="width:15%;margin-left:1.8%"></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">
                                <ul>
                                    <li><a href="index">游戏简介</a></li>
                                    <li><a href="teach">视频教学</a></li>
                                    <li><a href="#">在线游戏 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="font-size:xx-small"></span></a>
                                        <ul class="dropdown">
                                            <li><a href="hex">人机对战</a></li>
                                            <li><a href="hex_p2p">好友对战</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="chat">交流论坛</a> </li>
                                    <li><a href="GameRecord">个人战绩</a></li>
                                    <li><a href="About">关于我们</a></li>
                                </ul>
                            </div>
                        </div>
						<!--<div class="login-area">
                             <a class="lr_button" href="login_register"><span>登录 / 注册</span></a>
                        </div>-->
                      <!--   <div class="user1">                               
						 	<div class="user">	
								<img src="../static/images/core-img/user.png" style="width:7%">
								<a href="consumer/userData" style="vertical-align:middle;font-family:cursive;font-size:18px;font-weight: bolder;display: inline;margin-right: 4%;color: rgb(255, 124, 7);">
									<img src="../static/images/core-img/user.png" style="width:7%">
									<span id="user_name"></span>
								</a>
								<a onclick="log_out()" href="#" style="vertical-align: inherit;font-family: 'Open Sans';font-weight: 600;font-size: 16px;padding: 0 10px;color: #545454;">
									<span>退出登录</span>
								</a>
							</div>
                        </div>  -->
                       
					
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Single Game Review Area Start ##### -->
	
    <section class="single-game-review-area section-padding-100" style="padding-top:0;">
        <div class="container">
		<section class="monthly-picks-area section-padding-100 bg-pattern" style="padding-top: 1%;padding-bottom: 0%;border-radius: 2%;">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms" style="font-family:cursive;margin-left:2%;margin-bottom: 1%;color:aquamarine;"><span id="name_text">Jack</span>，你可以修改你的个人信息。</h2>
                </div>
            </div>
        <!-- </div> -->
    </section>
            

            <div class="row align-items-center" style="background: #ddf5f5;margin-right: 0px;margin-left: 0px;border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;">
           		<!-- change user img -->
            	<!-- *** Barfiller Area *** -->
                <div class="col-12 col-md-6" style="border-right: 2px solid #24c2c3ad;flex: 0 0 25%;">
                    <div class="egames-barfiller" style="text-align: center;">
                        <img id="userImg" src="../static/images/core-img/user.png" style="width: 19%; display: block; margin: 0px auto;">
                      	<button type="button" class="submit" id="change_img" style="margin: 0 auto;width: 30%;border-radius: 5px;background: aliceblue;margin-top: 3%;">选择头像</button>
                    	<!-- <form action="/uploadImg" method="post" enctype="multipart/form-data">
						    <input type="file" accept="image/jpg" name="imgFile" value="选择头像">
						    <input type="submit" value="确定修改">
						</form> -->
                    </div>
                </div>
                
                    <!-- <script type="text/javascript"> 
                    	var accountnum = $.cookie("accountnum");
                    	var src = "../../webapp/userImg/"+accountnum+".jpg";
				    	$("#userImg").attr("src", src);
					</script> -->
                
                   <!-- *** Review Area *** -->
                <div class="col-12 col-md-6" style="flex: 0 0 75%;border-radius: 10%;max-width: 75%;">
                    <div class="single-game-review-area style-2 mt-70" style="padding: 5%;">
                        <div class="game-content">
                            <!-- <span class="game-tag">个人信息</span> -->
                            <!-- <a href="single-game-review" class="game-title">Jack</a> -->
							<div>
								<div class="sign" style="margin-left: 16%;">
									<div>
										<div>
											<span>账号:</span>
											<input type="text" id="accountnum" disabled="disabled"/>
										</div>
										<div>
											<span>昵称:</span>
											<input type="text" id="name"/>
										</div>
										<div>
											<span>院校:</span>
											<input type="text" id="school"/>
										</div>
										<div>
											<span>密码:</span>
											<input type="text" id="password"/>
										</div>
									</div>
									<button type="button" class="submit" id="reg">确认修改</button>
								</div>	
							</div>
                        </div>
                    </div> 
           		</div>
            	
            
            


                
            </div>
        </div>
    </section>
    <!-- ##### Single Game Review Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0" style="padding-top: 2%;">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3" style="margin: 0 auto;">
                        <div class="single-footer-widget mb-70">
                            <div class="widget-title">
                                <a href="index"><img src="../static/images/core-img/hex.ico" style="width:20%"></a>
								<a href="index"><img src="../static/images/core-img/hex_text.png" style="width:58%"></a>
								<a href="index"><img src="../static/images/core-img/hex_joy1.png" style="width:45%;margin-left:22.8%"></a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-sm-5" style="margin-left:33%;">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved   
							<a href="https://beian.miit.gov.cn/" target="_blank">京ICP备19057144号-1</a>
						</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
<!--     <script src="../static/js/jquery/jquery-2.2.4.min.js"></script> -->
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>
    <!-- LogOut js -->
    <script src="../static/js/logOut.js"></script>

    <script type="text/javascript"> 
    	var accountnum = $.cookie("accountnum");//[[${username}]];
    	var name = $.cookie("name");
		if(accountnum==null)
			window.location.href="/login_register";
		else{
        	$('#name_text').text(name);
		}
		var password = $.cookie('password');
		var school = $.cookie('school');
		$('#accountnum').attr('value',accountnum);
		$('#password').attr('value',password);
		$('#name').attr('value',name);
		$('#school').attr('value',school);
	</script>
	<script type="text/javascript"> 
		$("#change_img").click(function(){
			alert("抱歉，系统暂不支持更换头像哦~");
		})
		$("#reg").click(function(){
			/* check if the information that will be changed is null */
			if($("#accountnum").val()==""||$("#name").val()==""||$("#school").val()==""||$("#password").val()=="")
			{
				window.alert("请完善修改信息ヽ(●-`Д´-)ノ");
				return;
			}
			
			/* get changed infomation */
			var accountnum = $("#accountnum").val();
			var name = $("#name").val();
			var school = $("#school").val();
			var password = $("#password").val();
			
			/* change by ajax */
			$.ajax({
			url:"/consumer/updateData",
			type:"post",
			data:{"accountnum":accountnum,"name":name,"school":school,"password":password},
			success:function(result){
				switch(result.trim()){
					case "修改成功":
						window.alert("修改成功(*＾-＾*)√");
						/* change cookies in local broswer */
						$.cookie('accountnum',accountnum, {path: "/"});					
						$.cookie('name',name, {path: "/"});					
						$.cookie('school',school, {path: "/"});					
						$.cookie('password',password, {path: "/"});
						//获取当前网址，如： http://localhost:8080/index
					    var curWwwPath = window.document.location.href;
					    //获取主机地址之后的目录，如： /index
					    var pathName = window.document.location.pathname;
					    var pos = curWwwPath.indexOf(pathName);
					    //获取主机地址，如： http://localhost:8080
					    var localhostPath = curWwwPath.substring(0, pos);
						window.location.href = localhostPath+"/userData";
						/* window.location.href="http://39.106.219.60:8080/index";	 */				
						break;
					default : window.alert("系统错误");break;
				}
			}
			});
		})
	</script>
</body>

</html>